* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  background: white;
  color: black;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  overflow: hidden;
}

.multiplane {
  position: relative;
  width: 80vw;
  max-width: 720px;
  aspect-ratio: 614/470;
  perspective: 650px;
  overflow: hidden;
  transition: perspective 0.3s;
}

.has-no-perspective .multiplane {
  perspective: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0) rotateY(0deg);
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform-style: preserve-3d;
  will-change: transform;
}

.is-paused .layer {
  animation-play-state: paused;
}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: clamp(12px, 2.5vmin, 22px);
  padding: 1em 0;
}

.btn {
  display: block;
  background-color: #ddd;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  border: 0;
  min-width: 80px;
  text-decoration: none;
  text-align: center;
  color: currentColor;

  .play-icon {
    display: inline-block;
  }

  .pause-icon {
    display: none;
  }

  &.is-playing {
    .play-icon {
      display: none;
    }
    .pause-icon {
      display: inline-block;
    }
  }

  &:hover {
    background-color: #eee;
  }
}

.btn-45 {
  font-weight: bold;

  &::before {
    content: "45°";
  }
}

.is-angle {
  .multiplane {
    overflow: visible;
  }

  .wrapper {
    transform: translate3d(50%, 0, -800px) rotateY(45deg);
  }

  .btn-45::before {
    content: "0°";
  }
}

.depth-1 {
  transform: translateZ(0px) scale(1);
  animation: depth-anim-1 5s alternate infinite;
}

.depth-2 {
  transform: translateZ(-200px) scale(1.3076923077);
  animation: depth-anim-2 5s alternate infinite;
}

.depth-3 {
  transform: translateZ(-400px) scale(1.6153846154);
  animation: depth-anim-3 5s alternate infinite;
}

.depth-4 {
  transform: translateZ(-600px) scale(1.9230769231);
  animation: depth-anim-4 5s alternate infinite;
}

@keyframes depth-anim-1 {
  from {
    transform: translateZ(0px) scale(1);
  }
  to {
    transform: translateZ(300px) scale(1);
  }
}

@keyframes depth-anim-2 {
  from {
    transform: translateZ(-200px) scale(1.3076923077);
  }
  to {
    transform: translateZ(-50px) scale(1.3076923077);
  }
}

@keyframes depth-anim-3 {
  from {
    transform: translateZ(-400px) scale(1.6153846154);
  }
  to {
    transform: translateZ(-300px) scale(1.6153846154);
  }
}

@keyframes depth-anim-4 {
  from {
    transform: translateZ(-600px) scale(1.9230769231);
  }
  to {
    transform: translateZ(-525px) scale(1.9230769231);
  }
}
