:root {
  --purple: #9381ff;
  --violet: #b8b8ff;
  --white: #f8f7ff;
  --antique: #ffeedd;
  --silk: #ffd8be;
}

* {
  box-sizing: border-box;
}

html {
  font-size: clamp(12px, calc(12px + (3 * (100vw - 400px) / 224)), 20px);
}

body,
html {
  height: 100dvh;
  overflow: hidden;
  margin: 0;
}

body {
  background: linear-gradient(to bottom right, #9cd08f 40%, #cea0ae, #d5b0ac);
  display: flex;
  justify-content: center;
  font-size: 1em;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
  box-shadow: 0 0.25em 2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.7);
  width: 27em;
  padding: 1em;
}

.row {
  display: flex;
  width: 100%;
}

.row:nth-child(odd) {
  justify-content: flex-end;
}

.btn {
  --size: 5em;

  background-color: rgb(239, 239, 239);
  border-radius: 0.5em;
  border: none;
  color: black;
  font-size: inherit;
  height: var(--size);
  margin: 0.25em;
  overflow: hidden;
  outline-offset: 0.1em;
  outline-width: 0.1em;
  position: relative;
  transition: transform 0.2s;
  width: var(--size);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.25);
    mix-blend-mode: plus-lighter;
    opacity: 0;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 1;
    }
  }
}

.btn.is-pressed {
  transform: translate(0.15em, 0.15em);
}

.symbol {
  font-size: 2em;
}

.purple {
  background-color: var(--purple);
}
.violet {
  background-color: var(--violet);
}
.white {
  background-color: var(--white);
}
.antique {
  background-color: var(--antique);
}
.silk {
  background-color: var(--silk);
}
