---
import "./_styles/camera-multiplane-disney.css";
import Play from "@/icons/play.svg";
import Pause from "@/icons/pause.svg";
import Youtube from "@/icons/youtube.svg";

import BlankLayout from "@/layouts/BlankLayout.astro";
const meta = {
  desc: "Animation CSS démontrant le fonctionnement de la fameuse caméra multiplane de Disney!",
  favicon: "/explorations/camera-multiplane-disney/favicon.svg",
  ogImage: "/explorations/camera-multiplane-disney/og-image.webp",
  title: "Caméra multiplane de Disney",
};
---

<BlankLayout type="page" {...meta}>
  <div class="multiplane">
    <div class="wrapper">
      <img
        src="/explorations/camera-multiplane-disney/img/1.webp"
        class="layer depth-4"
      />
      <img
        src="/explorations/camera-multiplane-disney/img/2.webp"
        class="layer depth-3"
      />
      <img
        src="/explorations/camera-multiplane-disney/img/3.webp"
        class="layer depth-2"
      />
      <img
        src="/explorations/camera-multiplane-disney/img/4.webp"
        class="layer depth-1"
      />
    </div>
  </div>

  <nav class="nav">
    <button class="btn btn-45"></button>
    <button class="btn btn-play-pause is-playing">
      <Play class="play-icon" />
      <Pause class="pause-icon" />
    </button>
    <a
      href="https://youtu.be/5D2q72tJGA8"
      class="btn fab fa-youtube"
      target="_blank"
    >
      <Youtube />
    </a>
  </nav>

  <script>
    import "./_scripts/camera-multiplane-disney";
  </script>
</BlankLayout>
