---
import "./_styles/daft-pad.css";

import BlankLayout from "@/layouts/BlankLayout.astro";
const meta = {
  desc: "Daft Pad est un Launchpad virtuel en l'honneur du groupe Daft Punk 🤖",
  favicon: "/explorations/daft-pad/favicon.svg",
  ogImage: "/explorations/daft-pad/og-image.jpg",
  title: "Daft Pad",
};
---

<BlankLayout type="page" {...meta}>
  <div class="board">
    <div class="row">
      <button class="btn purple key3" data-sound="3">
        <span class="symbol">3</span><br />
        <span class="lyrics">Work it</span>
      </button>
      <button class="btn violet key4" data-sound="4">
        <span class="symbol">4</span><br />
        <span class="lyrics">Make it</span>
      </button>
      <button class="btn antique key5" data-sound="5">
        <span class="symbol">5</span><br />
        <span class="lyrics">Do it</span>
      </button>
      <button class="btn silk key6" data-sound="6">
        <span class="symbol">6</span><br />
        <span class="lyrics">Make us</span>
      </button>
    </div>

    <div class="row">
      <button class="btn purple keyw" data-sound="w">
        <span class="symbol">w</span><br />
        <span class="lyrics">Harder</span>
      </button>
      <button class="btn violet keye" data-sound="e">
        <span class="symbol">e</span><br />
        <span class="lyrics">Better</span>
      </button>
      <button class="btn white keyr" data-sound="r">
        <span class="symbol">r</span><br />
        <span class="lyrics">Faster</span>
      </button>
      <button class="btn antique keyt" data-sound="t">
        <span class="symbol">t</span><br />
        <span class="lyrics">Stronger</span>
      </button>
    </div>

    <div class="row">
      <button class="btn purple keys" data-sound="s">
        <span class="symbol">s</span><br />
        <span class="lyrics">More than</span>
      </button>
      <button class="btn violet keyd" data-sound="d">
        <span class="symbol">d</span><br />
        <span class="lyrics">Hour</span>
      </button>
      <button class="btn antique keyf" data-sound="f">
        <span class="symbol">f</span><br />
        <span class="lyrics">Our</span>
      </button>
      <button class="btn silk keyg" data-sound="g">
        <span class="symbol">g</span><br />
        <span class="lyrics">Never</span>
      </button>
    </div>

    <div class="row">
      <button class="btn purple keyz" data-sound="z">
        <span class="symbol">z</span><br />
        <span class="lyrics">Ever</span>
      </button>
      <button class="btn keyx" data-sound="x">
        <span class="symbol">x</span><br />
        <span class="lyrics">After</span>
      </button>
      <button class="btn silk keyc" data-sound="c">
        <span class="symbol">c</span><br />
        <span class="lyrics">Work is</span>
      </button>
      <button class="btn violet keyv" data-sound="v">
        <span class="symbol">v</span><br />
        <span class="lyrics">Over</span>
      </button>
    </div>
  </div>

  <script>
    import "./_scripts/daft-pad";
  </script>
</BlankLayout>
